/* ************************ */
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: #333; */
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: auto;
}
.header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.search-bar {
  width: 71%;
  margin: 4rem auto 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search-bar input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}
.search-bar img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.movie-list {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.movie-item {
  width: 310px;
  height: 460px;
  margin: 1.5rem;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  /* border: 1px solid red; */
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #333;
  color: #fff;
}
.movie-item .img-div {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 0px;
}
.movie-item .img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-item:hover {
  transform: scale(1.05);
}
.movie-item div {
  padding: 0.5rem;
}

.movie-item h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
}

.movie-item span {
  font-size: 0.9rem;
  color: gray;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 1rem 2rem;
  width: 500px;
  text-align: center;
  border-radius: 5px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-body {
  text-align: left;
}
.close {
  text-align: end;
  cursor: pointer;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .search-bar {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
  }

  .search-bar input {
    font-size: 1.2rem;
    padding-right: 0.5rem;
  }

  .search-bar img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .search-bar {
    padding: 0.75rem;
    border-radius: 2rem;
  }

  .search-bar input {
    font-size: 1rem;
  }

  .search-bar img {
    width: 25px;
    height: 25px;
  }
}
